.main-content-wrapper {
    width: 60%;
    margin: 0 auto;
}

.Read-more {
    color: #405B84;
}


.top-section-wrapper {
    height: 600px;
    width: 100%;
    background-image: url("images/fronties-go-cover.jpg");
    background-size: cover;
    overflow: hidden;

}



.left-column {

    float: left;
    /* width: 30%; */
    margin-top: 8%;
    margin-left: 10%;
}

.top-right-column {
    float: right;
    width: 0%;
    margin: 8% 0 7% 20%;
}

.section-title {
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    text-align: left;
}

.title-section-description {
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    display: flex;
    text-align: left;
    width: 50%;
}

.button-wrapper {
    text-align: left;
    margin-top: 5%;

}

.button-link {
    font-size: 20px;

}

.button-text {
    font-family: sans-serif;
    padding: 20px;
    color: black;
    background-color: yellow;
    border-radius: .5em;
}



.about-div,
.love-and-respect {
    text-align: center;
    width: 100%;
    padding-top: 35px;
    font-family: sans-serif;
    font-size: 25px;
}

.love-and-respect {
    font-family: cursive;
    font-size: 20px;
}

/* .accordion-section {
    overflow: hidden;
    margin-top: 5%;
} */

/* .accordion-list-section {
    width: 50%;
    float: left;
} */

/* .accordion-list-container {
    width: 100%;
    float: left;

} */

/* .accordion .accordion-div{
    position: relative;
} */

/* Style the buttons that are used to open and close the accordion panel */
/* .accordion {
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 1em;
    margin-left: auto;
    font-weight: bold;
    color: black;
    float: left;

} */

.accordion-right-column {
    /* float: right;
    width: 50%; */
    /* margin-right: 0%; */

}

/* .accordion-image {
    border-radius: 3em;
    width: 100%;
    height: 100%;


} */

/* .accordion:hover {
    background: linear-gradient(120deg, #ffd30e 0%, #ec2557 100%);
} */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    /* background:linear-gradient(120deg, #ffd30e 0%, #ec2557 100%); */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    /* padding: 0 18px;
    background-color: white;
    max-height: 0; */
    /* display: none; */
    /* transition: 0.2s ease-out; */
}

.accordion::after {
    /* content: '\002B'; */
    /* Unicode character for "plus" sign (+) */
    /* font-size: 13px;
    color: #777;
    float: left;
    margin-right: 5px; */
}

.active::after {
    /* content: "\2212"; */
    /* Unicode character for "minus" sign (-) */
}

/* .accordion.active{
    color: black;
} */




.column {
    float: left;
    width: 30%;
    margin-left: 3.3%;
}

.row{
    margin-top: 5%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}

.row-title {
    text-align: center;
    font-family: sans-serif;
    margin: 2em 0 1em 0;
}

.see-all-button {
    font-family: sans-serif;
    padding: 20px;
    color: black;
    background-color: rgb(233, 190, 0);
    border-radius: .5em;
    border: none;
    font-weight: bold;
    font-size: 18px;

}

.see-all-wrapper {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: bold;
    font-size: 30px;
}

/* width 100% because column width is already 33.33%*/
.column-image {
   width:100%;
   height: 100%;
   border-radius: 1em;
}