/*Whole page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-menu {
    font-size: 1.3em;
}

nav {
    display: block;
}



/*standard menu*/
header {
    position: relative;
    z-index: 21;
    display: block;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #2B3647;
    font-family: sans-serif;
    color: white;
}
.logo {
    color: white;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 22px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #2B3647;
    font-family: sans-serif;
    color: white;
}

/*"frontiers*/


/*menu links*/
.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 95px;
    align-items: center;
}

.main-menu ul {
    padding: 25px 0 25px 0;
}
/*menu item styles ie, no dots*/
.main-menu>li {
    list-style: none;
    margin: 0 15px o 15px;
    padding: 0;
    display: inline-block;
}

/*menu lettering*/
.main-menu a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.5s;
    ;
}

/*hover over links*/
.main-menu a:hover {
    color: #fcb900;
}

/*menu links*/
.sub-menu {
    display: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 1000;
    border-radius: 3px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0) / 25%;
    transform: translate(10px);
}

/*menu item styles ie, no dots*/
.sub-menu li {
    list-style: none;
}

/*menu lettering*/
.sub-menu a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.5s;
    ;
}

/*hover over links*/
.sub-menu a:hover {
    color: #fcb900;
}

/*crunched screen burger icon*/
.burger {
    display: none;
    cursor: pointer;
}

/*burger style*/
.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.4s ease;
}

/*burger hover*/
.burger:hover {
    color: #fcb900;

}

/*responsive page up to 1024 pixels*/
@media screen and (max-width:1024px) {
    .main-menu {
        width: 30%;
    }
}

/*responsive page for small screens*/
@media screen and (max-width:768px) {
    body {
        overflow: hidden;
    }

    /*menu for small screen*/
    .main-menu {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: top;
        width: 40%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }

    .main-menu li {
        opacity: 1;
    }
    .main-menu a {
        color: black;
    }
    .main-menu a:hover{
        color: #098da3;
    }

    .burger {
        display: block;
    }
}

/*animation for navigation menu*/
.nav-active {
    transform: translateX(0%);
}

/*link animations*/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

/*burger lines animating into an "X"*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);

}

.toggle .line2 {
    opacity: 0;

}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);


}