footer {
  background-color: #2B3647;
  color: white;
  width: 100%;
  margin-bottom: 0;
  font-family: sans-serif;
  padding: 40px 0;
}

.footer {
  padding-top: 5%;
  padding-bottom: 25%;
  margin-bottom: 0;
}

.footer-container {
  margin: 2%;
  max-width: 100%;
  padding: 0 30px;
}

.textlogo{
  font: 14px;
  /* font-size: 1.4rem; */
  line-height: 1.5;
}
.footer-column {
  width: 23%;
  float: left;
  padding: 0 15px
}

.logo-footer-image {
  max-width: 100%;
  height: auto;

}

.menu {
  list-style: none;
  display: inline;
  font-weight: bold;
}

.footer-title {
  margin: 0 0 15px;
  text-transform: uppercase;
  font-weight: bolder;
}

.menu-item {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.social-media-ul {
  list-style: none;
  display: flex;
  position: relative;
  align-items: center;
  padding-right: 0;
}

.social-media-ul li {
  padding-right: 10px;

}

.footer-nav-menu {
  margin: 0 0 30px;
}


@media (max-width:768px) {
  footer {
    max-width: 100%;
    max-height: 100%;
    background-color: #2B3647;
    margin-bottom: 0;

  }

  .footer {
    padding-top: 5%;
    padding-bottom: 100%;
  }


  .footer-column {
    width: 80%;
    float: right;
    text-align: left;
    margin: 0 0 40px;
    padding: 0 40px;
  }

}