footer {
  background-color: #2B3647;
  color: white;
  width: 100%;
  margin-bottom: 0;
  font-family: sans-serif;
}

.footer {
  padding-top: 5%;
  padding-bottom: 25%;
}

.footer-container {
  margin: 2%;
  max-width: 100%;
  padding: 0 30px;
}

.footer-column {
  width: 23%;
  float: left;
  padding: 0 15px
}

.logo-footer-image {
  max-width: 100%;
  height: auto;

}

.menu {
  list-style: none;
  display: inline;
  font-weight: bold;
}

.footer-title {
  margin: 0 0 15px;
  text-transform: uppercase;
  font-weight: bolder;
}

.menu-item{
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.social-media-ul {
  list-style: none;
  display: flex;
  position: relative;
  align-items: center;
  padding-right: 0;
}

.social-media-ul li {
  padding-right: 10px;

}

.footer-nav-menu{
margin: 0 0 30px;
}

@media (max-width: 1100px) {
  .footer {
  padding: 40px 0;
}
  
}

@media (max-width: 1023px) {
  .footer, .footer-container {
    max-width: 100%;
  }
}

@media (min-width: 730px) {
  .footer-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 440px) {
  .footer-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}


