* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2B3647;
    height: 95px;
    padding: 0 30px;
    width: 100%;
    /* this cleans up the floats*/
    /* overflow: hidden; */
    font-family: sans-serif
}

.header-container {
    background-color: #2B3647;
    height: 95px;
    flex-direction: column;
    align-items: flex-end;
}

/* i want whatever is inside the logo div to float left, in this case the logo image */
.logo {
    margin-left: 12%;
    float: left;
}

.header-logo{
    width: 50%;
    height: 50%;
    padding-top: 10%;
}


/* this creates a div around the menus*/
.menus {
    float: right;
    padding: 1%;
    padding-right: 8%;
}

/* this floats the first menu on the left side of the new menus container*/
.nav-menu {
    float: left;
    padding-right: 20px;
    text-transform: uppercase;
}

.subnav li a,
.dropbtn {
    list-style-type: none;
    text-decoration: none;
    font-size: 13px;
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    display: inline-block;
}

li a:hover,
.dropdown:hover .dropbtn {
    color: #F9C032;
}

li.dropdown {
    display: inline-block;
}

/* i want the sub nav hidden */
.dropdown-content {
    display: none;
    /* i want the position of this to be relative to the above div, and to stay there */
    position: absolute;
    background-color: white;
    min-width: 160px;
    border-radius: .5rem;
}

.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    /* makes this stack instead of side by side */
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: #F9C032;
}

/* displays the dropdown menu content only when you hover the dropdown list item */
.dropdown:hover .dropdown-content {
    display: block;
}

/* this floats the socials nav to the right of the nav menu */
.social-nav {
    float: right;
    padding-top: 20px;
}

.social-nav ul {
    padding-right: 50px;
}

.menu-socials li {
    padding-right: 8px;
    display: inline-block;
}


/* attempted responsive bruger menu*/
.menu-toggle {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    width: 30px;
    height: 21px;
    flex-direction: column;
    justify-content: space-between;
}

.menu-toggle a {
    color: white;
}

.menu-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .menu-toggle {
        display: block;
    }

    .menus {
        display: none;
    }

    .menus ul {
        width: 100%;
        flex-direction: column;
        text-align: right;
    }

    .menus li {
        text-align: right;
    }

    .menus li a {
        padding: .5rem 1rem;
    }

    .menus.active {
        display: flex;
    }


}

/* @media (max-width: 1024px) {
    .menus {
        display: none;
    }
} */