.top-section-rttf-wrapper {
    height: 60vh;
    width: 100%;
    background-image: url("images/man-water.jpeg");
    background-attachment: fixed;

    background-position: bottom center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: block;
    background-position-y: 100%;


}

.background-overlay{
    background-color: black;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s; 
        transition-property: background, border-radius , opacity ;
        transition-duration: 0.3s, 0.3s, 0.3s;
        transition-timing-function: ease, ease, ease;
        transition-delay: 0, 0, 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    
}


.header-image-column {
    height: 100%;
    min-height: 400px;
    max-width: 1140px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header-wrapper {
    padding: 10px;
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.header-picture-container {
    padding: 10px;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

.section-title-container{
    width: 100%;
    margin-bottom: 10px;
}

.section-title {
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}

.title-section-description {
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    display: flex;
    text-align: center;
    
    width: 100%;
}


.main-body-section {
    padding: 50px;
    position: relative;
    ;
}


.body-columns{
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-inline-end: auto;
    margin-left: auto;
}

.sidebar-nav{
    width: 33.33%;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.sidebar-wrapper {
    width: 100%;

    padding: 10px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-content: flex-start;

}

.toc-container{
    width: 100%;
    margin: 80px 30px 0px 0px;
    border: solid 1px;
    border-radius: 1em;
    border-color: blue;
}

.toc-header{
    padding: 15px;
    /* padding: var(--box padding, 20px); */
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toc-header-title{
    font-size: 18px;
    margin: 0;
    
}


.toc-list-wrapper{
    list-style: none;
    padding: 15px;
    ;
}

.toc-list-item{
    padding: 0px 30px 0px 5px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.5em;
    line-height: 1.7;

}

.toc-list-item-text{
    color: black;
}

li.toc-list-item :hover{
    color: blue;
    text-decoration: underline;
}

.main-content-column {
    width: 54.33%;
    position: relative;
    ;
}

.main-content-column-wrapper{
    padding: 10px;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.main-content-container{
    margin: 80px 0px 0px 0px
}

h2{
    font-family: sans-serif;
    font-size: 2rem;
    color: #333333;
    font-weight: 700;
    line-height: 1.31;
    margin-top: 0;
    margin-bottom: 25px;
    display: block;
}

P{
    margin-top: 0;
    margin-bottom: 2.5rem;
    display: block;
    font-family: sans-serif;
}

.right-column-wrap{
    display: flex;
    position: relative;
    width: 12.33%;
}